/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Tai';
  src: "../fonts/taile.tff"; }

body {
  font-family: 'Tai', 'Open Sans', sans-serif;
  color: #687172;
  text-align: center; }

#header-wrapper {
  width: 100%;
  height: 624px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #header-wrapper .navbar {
    height: 57px;
    width: 50%;
    margin: 0 auto; }
    #header-wrapper .navbar .main-nav {
      display: flex;
      justify-content: space-between; }
      #header-wrapper .navbar .main-nav li a {
        text-decoration: none;
        color: #687172;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 45px; }
        #header-wrapper .navbar .main-nav li a:hover {
          color: #d73240; }
  #header-wrapper .hero {
    width: 50%;
    margin: 80px auto 0 auto;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #header-wrapper .hero .up h4 {
      font-size: 16px;
      font-weight: bold; }
    #header-wrapper .hero .up h1 {
      font-size: 57px;
      font-weight: bold;
      color: #d73240;
      letter-spacing: -5px; }
    #header-wrapper .hero .up h2 {
      font-size: 42px;
      letter-spacing: -5px;
      margin-top: -5px; }
    #header-wrapper .hero .down h3 {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 5px; }
    #header-wrapper .hero .down p {
      font-size: 21px;
      letter-spacing: 5px; }

#main-content {
  width: 60%;
  margin: 60px auto 0 auto; }
  #main-content .about h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; }
  #main-content .about p {
    margin: o;
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 60px;
    word-spacing: 3px;
    line-height: 16px;
    font-weight: 500; }
  #main-content .about .btn {
    width: 120px;
    height: 40px;
    border: none;
    margin-bottom: 60px;
    cursor: pointer; }
  #main-content .about .btn-main {
    background-color: #687172;
    color: white;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase; }
    #main-content .about .btn-main:hover {
      background-color: #d73240;
      transition: .5s; }
